@use './variables' as *;

.connexion-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: $blue-900;

    @media (max-width:680px) {
        flex-direction: column;
        margin-top: 20px;
        gap: 20px;
    }
}

.login-container,
.signup-container {
    display: flex;
    padding: 10px;
    flex-direction: column;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    background-color: $blue-soft-bg;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login-title,
.signup-title {
    text-align: center;
    margin-bottom: 40px;
}

.signup-form,
.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    button {
        cursor: pointer;
        color: white;
        background-color: $blue-900;
        border: none;
        border-radius: 10px;
        padding: 10px;
    }

    input {
        border-radius: 10px;
        border: 1px solid $blue-300;
        padding: 8px;
    }
}