@use './variables' as *;

header {
    text-align: center;
    padding: 40px 0;

    h1 {
        color: $border;
    }
}

.connexion-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;

    @media (max-width:767px) {
        flex-direction: column;
        margin-top: 20px;
        gap: 20px;
    }
}

.login-container,
.signup-container {
    display: flex;
    padding: 10px;
    flex-direction: column;
    min-width: 300px;
    min-height: 400px;
    border-radius: 10px;
    background-color: $bandeau;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

.login-title,
.signup-title {
    text-align: center;
    margin-bottom: 40px;
    color: $title-color;
}

.signup-form,
.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    button {
        cursor: pointer;
        background-color: $border;
        color: white;
        border: none;
        border-radius: 10px;
        padding: 10px;

        &:hover {
            box-shadow: 0px 4px 6px #5B5B5B;
            transition: transform 0.2s ease;
            transform: scale(1.05);
        }
    }

    input {
        border-radius: 10px;
        border: 1px solid $border;
        padding: 8px;
    }
}