@use './variables' as *;

.header {
    background-color: $blue-soft-dark;
    color: white;
}

.header-title {
    font-family: 'Lora', serif;
    text-align: center;
    padding: 50px;
    margin: 0;
}

.todolist-form {
    margin: 20px 0;

    input {
        border-radius: 10px;
        border: 1px solid $blue-300;
        padding: 8px;
        margin-right: 10px;
    }

    button {
        cursor: pointer;
        color: white;
        background-color: $blue-900;
        border: none;
        border-radius: 10px;
        padding: 10px;
    }
}

.dashboard-container {
    width: 100%;
    min-height: 100vh;
}

.todolists-container {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;

    .todolists-names {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
        height: 100vh;
        background-color: $blue-soft-bg;

        .todolist-list {
            margin-top: 20px;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 80%;

            .todolist-name-item {
                background: none;
                padding: 20px;
                border: none;
                font-size: 16px;
                cursor: pointer;
                color: $blue-900;
                text-align: left;
                width: 100%;

                &:hover {
                    background-color: $blue-200;
                    border-radius: 10px;
                }
            }

            button {
                cursor: pointer;
                color: white;
                background-color: $blue-900;
                border: none;
                border-radius: 10px;
                padding: 5px 10px;
            }
        }
    }
}

.todo-container {
    list-style: none;
    padding: 0;
    margin: 20px;

    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;


        button {
            cursor: pointer;
            color: white;
            background-color: $blue-900;
            border: none;
            border-radius: 10px;
            padding: 5px 10px;
        }
    }
}