@use './variables' as *;

.btn-logout-container {
    position: absolute;
    top: 20px;
    right: 20px;

    button {
        cursor: pointer;
        color: white;
        background-color: $blue-soft-bg;
        color: $blue-900;
        border: none;
        border-radius: 10px;
        padding: 10px;

        &:hover {
            background-color: $blue-200;
        }
    }
}

.header {
    color: white;

    .header-title {
        font-family: 'Lora', serif;
        text-align: center;
        padding: 50px;
        margin: 0;
    }
}

.dashboard-container {
    width: 100%;
    display: flex;
    justify-content: center;

    .todolists-container {
        display: grid;
        grid-template-columns: 30% 70%;
        width: 80%;

        .todolists-names {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: white;
            border-radius: 10px;
            padding: 8px;

            .todolist-form {
                margin: 20px 0;
                width: 100%;
                display: grid;
                grid-template-columns: 70% 30%;
                align-items: center;

                input {
                    border-radius: 10px;
                    border: 1px solid $blue-300;
                    height: 30px;

                    @media (max-width:724px) {
                        height: 30px;
                    }

                    @media (max-width:600px) {
                        height: 20px;
                    }
                }

                .add-btn {
                    border: none;
                    background: none;
                    cursor: pointer;
                }

                /* Texte visible par défaut (> 900px) */
                .add-text {
                    display: inline;
                    color: $blue-900;
                    padding: 8px;

                    &:hover {
                        color: white;
                        background-color: $blue-900;
                        border-radius: 10px;
                    }
                }

                @media (max-width: 900px) {
                    .add-text {
                        display: none;
                    }

                    .add-btn {
                        margin-left: 10px;
                        width: 30px;
                        height: 30px;
                        background-image: url("../assets/images/add-todolist.png");
                        background-size: contain;
                        background-repeat: no-repeat;


                        @media (max-width:600px) {
                            margin-left: 5px;
                            width: 25px;
                            height: 25px;
                        }
                    }

                    .add-btn:hover {
                        background-image: url("../assets/images/add-todolist-hover.png");
                    }
                }
            }

            .todolist-list {
                margin-top: 20px;
                padding: 10px;
                display: grid;
                grid-template-columns: 70% 30%;
                align-items: center;
                width: 80%;

                &:hover {
                    background-color: $blue-200;
                    border-radius: 10px;
                }

                &.active {
                    background-color: $blue-200;
                    border-radius: 10px;
                }

                .todolist-name-item {
                    background: none;
                    padding: 20px;
                    border: none;
                    font-size: 16px;
                    cursor: pointer;
                    color: $blue-900;
                    text-align: center;
                    width: 100%;
                }

                .todolist-delete-btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    background: none;
                    border: none;
                    padding: 5px;

                    .delete-icon {
                        width: 20px;
                        height: 20px;
                    }

                }
            }
        }
    }

    .todo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 20px;

        .todo-form {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            input {
                border-radius: 10px;
                border: 2px solid $blue-300;
                padding: 8px;
                margin-right: 10px;
                width: 80%;
            }

            .todo-form-btn {
                border: none;
                background: none;
                cursor: pointer;


                /* Texte visible par défaut (> 900px) */
                .add-text {
                    display: inline;
                    color: white;
                    padding: 8px;

                    &:hover {
                        color: $blue-900;
                        background-color: white;
                        border-radius: 10px;
                    }
                }
            }

            @media (max-width: 900px) {
                .todo-form-btn {
                    .add-text {
                        display: none;
                    }

                    width: 30px;
                    height: 30px;
                    background-image: url("../assets/images/add-todo.png");
                    background-size: contain;
                    background-repeat: no-repeat;

                    &:hover {
                        background-image: url("../assets/images/add-todo-hover.png");
                    }
                }
            }
        }

        .todo-container-list {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;

            .todo-item {
                display: flex;
                justify-content: space-between;
                background-color: white;
                align-items: center;
                padding: 8px;
                text-align: center;
                border-radius: 10px;
                margin-top: 20px;
                transition:
                    transform 0.8s ease,
                    opacity 0.3s ease,
                    background-color 0.3s ease;

                .todo-checkbox {
                    cursor: pointer;
                }

                button {
                    cursor: pointer;
                    background: none;
                    border: none;
                    border-radius: 10px;
                    padding: 8px;

                    .delete-icon {
                        width: 20px;
                        height: 20px;
                    }
                }

                &.completed {
                    opacity: 0.6;
                    color: gray;
                }
            }
        }
    }
}