@use './variables' as *;

.header {

    .header-title {
        font-family: 'Lora', serif;
        text-align: center;
        padding: 50px;
        margin: 0;
        color: $title-color;
    }
}

.dashboard-container {
    display: flex;
    justify-content: center;
    width: 100%;

    .todolists-container {
        display: grid;
        grid-template-columns: 30% 60%;
        width: 90%;
        gap: 40px;

        @media (max-width:767px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .todolists-list-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $bandeau;
            border-radius: 10px;
            box-shadow: 0px 4px 6px #5B5B5B;
            padding: 8px;
            width: 100%;

            @media (max-width:767px) {
                position: absolute;
                width: 50%;
                top: 150px;
            }

            .todolists-list {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 80%;

                @media (max-width:767px) {
                    width: 100%;
                    overflow: hidden;
                    max-height: 0;
                    opacity: 0;
                    transition: max-height 0.4s ease;

                    &.active {
                        max-height: 1000px;
                        opacity: 1;
                    }
                }
            }

            .todolists-title {
                display: flex;
                border: none;
                background-color: transparent;
                width: 100%;
                color: $title-color;
                font-size: 15px;
                cursor: pointer;
                align-items: center;
                justify-content: center;
                font-family: 'Inter', sans-serif;

                .todolist-title-icon {
                    width: 20px;
                    height: 20px;
                    margin-left: 10px;
                    rotate: 90deg;
                    transition: transform 0.3s ease;

                    &.open {
                        transform: rotate(180deg);
                        transition: transform 0.3s ease;
                    }
                }
            }

            .todolist-form {
                margin: 20px 0;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                input {
                    border-radius: 10px;
                    border: 1px solid $border;
                    height: 30px;
                    width: 60%;

                }

                .add-btn {
                    border: none;
                    background: none;
                    cursor: pointer;
                }

                /* Texte visible par défaut (> 900px) */
                .add-text {
                    margin-left: 15px;
                    display: inline;
                    padding: 8px;
                    box-shadow: 0px 4px 6px #5B5B5B;
                    border-radius: 10px;

                    &:hover {
                        color: white;
                        background-color: $title-color;
                        border-radius: 10px;
                    }
                }

                @media (max-width: 900px) {
                    .add-text {
                        display: none;
                    }

                    .add-btn {
                        margin-left: 15px;
                        width: 30px;
                        height: 30px;
                        background-image: url("../assets/images/add-todolist.png");
                        background-size: contain;
                        background-repeat: no-repeat;
                    }

                    .add-btn:hover {
                        background-image: url("../assets/images/add-todolist-hover.png");
                    }
                }
            }

            .todolist-name {
                margin-top: 20px;
                padding: 0 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &:hover {
                    background-color: $todolist-name-hover;
                    border-radius: 10px;

                    .todolist-name-item {
                        color: white;
                    }

                    .todolist-delete-btn {
                        .delete-icon {
                            background-image: url("../assets/images/delete-hover.png");
                            background-size: contain;
                            background-repeat: no-repeat;
                        }
                    }
                }

                &.active {
                    background-color: $todolist-name-hover;
                    border-radius: 10px;

                    .todolist-name-item {
                        color: white;
                    }

                    .todolist-delete-btn {
                        .delete-icon {
                            background-image: url("../assets/images/delete-hover.png");
                            background-size: contain;
                            background-repeat: no-repeat;
                        }
                    }
                }

                @media (max-width:767px) {
                    margin-top: 10px;
                }

                .todolist-name-item {
                    background: none;
                    padding: 20px;
                    border: none;
                    font-size: 16px;
                    cursor: pointer;
                    text-align: center;
                    width: 100%;
                }

                .todolist-delete-btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    background: none;
                    border: none;

                    .delete-icon {
                        width: 20px;
                        height: 20px;
                        background-image: url("../assets/images/delete.png");
                        background-size: contain;
                        background-repeat: no-repeat;

                        &:hover {
                            transform: scale(1.4);
                            transition: transform 0.2s ease;
                        }
                    }

                }
            }
        }
    }

    .todo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        padding: 0;

        @media (max-width:767px) {
            margin-top: 40px;
            width: 90%;
        }

        .todo-form {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            input {
                border-radius: 10px;
                border: 2px solid $border;
                padding: 8px;
                margin-right: 10px;
                width: 80%;
            }

            .todo-form-btn {
                border: none;
                background: none;
                cursor: pointer;


                /* Texte visible par défaut (> 900px) */
                .add-text {
                    display: inline;
                    padding: 8px;
                    box-shadow: 0px 4px 6px #5B5B5B;
                    border-radius: 10px;

                    &:hover {
                        color: white;
                        background-color: $title-color;
                        border-radius: 10px;
                    }
                }
            }

            @media (max-width: 900px) {
                .todo-form-btn {
                    .add-text {
                        display: none;
                    }

                    width: 30px;
                    height: 30px;
                    background-image: url("../assets/images/add-todolist.png");
                    background-size: contain;
                    background-repeat: no-repeat;

                    &:hover {
                        background-image: url("../assets/images/add-todolist-hover.png");
                    }
                }
            }
        }

        .todo-container-list {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;

            .todo-item {
                display: flex;
                justify-content: space-between;
                background-color: $todo-item;
                box-shadow: 0px 4px 6px #5B5B5B;
                align-items: center;
                padding: 10px;
                text-align: center;
                border-radius: 10px;
                margin-top: 20px;
                transition:
                    transform 0.8s ease,
                    opacity 0.3s ease,
                    background-color 0.3s ease;

                .todo-checkbox {
                    cursor: pointer;
                    accent-color: $border;
                }

                button {
                    cursor: pointer;
                    background: none;
                    border: none;
                    border-radius: 10px;

                    .delete-icon {
                        width: 20px;
                        height: 20px;

                        &:hover {
                            transform: scale(1.4);
                            transition: transform 0.2s ease;
                        }
                    }
                }

                &.completed {
                    background-color: rgba($border, 0.4);
                }
            }
        }
    }
}