.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    .spinner {
        border: 8px solid $gray-300;
        border-top: 8px solid $blue-600;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: spin 1s linear infinite;

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }
}