.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e3a8a;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.spinner {
    border: 5px solid #1e3a8a;
    border-top: 5px solid #93c5fd;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

p {
    margin-left: 20px;
    color: #1e3a8a;
}