@use './variables' as *;

.btn-logout {
    cursor: pointer;
    background-color: $blue-soft-bg;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;

    @media (max-width:576px) {
        background-color: $blue-900;
        padding: 0;
        color: none;
    }

    .icon-logout {
        width: 20px;
        height: 20px;
    }
}