@use './variables' as *;

.btn-logout-container {
    position: absolute;
    top: 20px;
    right: 20px;

    button:hover {
        background-color: $bandeau;
        color: $title-color;
        box-shadow: 0px 4px 6px #5B5B5B;
        transition: transform 0.2s ease;
        transform: scale(1.1);

        @media (max-width:767px) {
            padding: 0;
            border-radius: 50%;
        }
    }
}

.btn-logout {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-color: $border;

    @media (max-width:767px) {
        .icon-logout {
            width: 40px;
            height: 40px;
            display: none;
        }

        padding: 0;
        background-color: transparent;
        width: 40px;
        height: 40px;
        background-image: url("../assets/images/logout.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
}